# Pandas Fundamentals

In [1]:
# imports 
import pandas as pd

# Extend notebook viewport
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

%matplotlib inline

## File I/O

In [2]:
# first make sure that the file you are looking for is where you are looking
%ls

 Volume in drive C is Windows
 Volume Serial Number is E4F6-E53F

 Directory of C:\Users\richa\bootcamp\Trilogy-Data-Bootcamp-Curriculum-Helpers\python_and_python_libraries\pandas

11/28/2018  12:49 PM    <DIR>          .
11/28/2018  12:49 PM    <DIR>          ..
11/20/2018  11:56 AM    <DIR>          .ipynb_checkpoints
11/20/2018  11:56 AM    <DIR>          data
11/28/2018  12:49 PM            97,688 pandas_basics.ipynb
               1 File(s)         97,688 bytes
               4 Dir(s)  892,639,735,808 bytes free

In [3]:
%pwd

'C:\\Users\\richa\\bootcamp\\Trilogy-Data-Bootcamp-Curriculum-Helpers\\python_and_python_libraries\\pandas'

In [4]:
# from csv 
df = pd.read_csv('data/data.csv')

In [5]:
# Show top few rows of the dataframe
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
# Show bottom few rows of the dataframe
df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [13]:
# alternative ways of creating dataframe
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
pd.DataFrame([a,b,c], columns=['a','b','c'])

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [14]:
# dataframe from dict
    # dictionary keys become the column names, values are column data
pd.DataFrame({'a':a, 'b':b,'c':c})

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3

## Indexing

In [16]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
# Grab a row
df.iloc[0]['Gender']

'Male'

In [9]:
df.loc[2, 'Gender']

'Male'

In [19]:
# first 5 rows
df.iloc[:5]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# grab a column
df['Age']

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

In [23]:
# first 5 rows of column
df['Age'][:5]

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

In [25]:
# columns and rows
df.loc[5:10, ['Age', 'Item ID']]

    Age  Item ID
5    22       81
6    36      169
7    20      162
8    22       21
9    35      136
10   23       95

In [27]:
df.Age[:5]

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

## Masking

In [21]:
def assign_categories(a):
    if a < 20:
        return "<20"
    elif a <40:
        return '20 to 40'
    else:
        return '>40'

In [26]:
type(assign_categories)

function

In [18]:
df.Age==35
''

''

In [25]:
shorthand_func = lambda a: a*100
type(shorthand_func)

function

In [27]:
shorthand_func(2)

200

In [29]:
def times_100(a):
    return a*100

In [30]:
df.Age.apply(times_100)

0      2000
1      4000
2      2400
3      2400
4      2300
5      2200
6      3600
7      2000
8      2200
9      3500
10     2300
11     2300
12     2100
13     2200
14     3500
15     2100
16     2000
17     2100
18     2200
19     3000
20     2000
21     2000
22     3800
23     4000
24     3000
25     2900
26     1100
27      700
28     2100
29     2400
       ...
750    2200
751    1100
752    1700
753    3600
754    2300
755    1200
756    2000
757    1800
758    2100
759    2500
760    2100
761    4500
762    2600
763    2100
764    1800
765    1800
766    2300
767     800
768    3800
769    1500
770    3400
771    1600
772    2600
773    2100
774    1100
775    2100
776    2100
777    2000
778     700
779    2400
Name: Age, Length: 780, dtype: int64

In [32]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_cat
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 40
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 40
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 40
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 40

In [37]:
df[df.apply(lambda row: True if (row['Age']<25 and row['Gender']=='Male') else False, axis=1)]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_cat
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 40
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 40
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 40
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20 to 40
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20 to 40
8,8,Undjask33,22,Male,21,Souleater,1.10,20 to 40
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20 to 40
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20 to 40
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20 to 40
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20 to 40
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20 to 40
17,17,Zontibe81,21,Male,161,Devine,1.76,20 to 40
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20 to 40
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20 to 40
26,26,Lirtossa84,11,Male,71,Demise,1.61,<20
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<20
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20 to 40
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20 to 40
30,30,Idai61,19,Male,140,Striker,2.94,<20
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,<20
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<20
34,34,Sondim73,19,Male,160,Azurewrath,4.40,<20
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05,20 to 40
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<20
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14,20 to 40
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,20 to 40
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,<20
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,20 to 40
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,20 to 40
...,...,...,...,...,...,...,...,...
735,735,Leetirraya83,24,Male,54,Eternal Cleaver,2.50,20 to 40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20 to 40
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20 to 40
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,<20
742,742,Isty55,20,Male,5,Putrid Fan,4.08,20 to 40
743,743,Frichilsa31,15,Male,110,Suspension,1.44,<20
744,744,Chanastst38,22,Male,94,Mourning Blade,3.49,20 to 40
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20 to 40
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,20 to 40
749,749,Chanossanya44,20,Male,53,Vengeance Cleaver,2.05,20 to 40
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20 to 40
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,<20
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,<20
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,<20
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20 to 40
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,<20
758,758,Iral74,21,Male,182,Toothpick,4.03,20 to 40
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20 to 40
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20 to 40
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,<20
765,765,Irith83,18,Male,130,Alpha,2.07,<20
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20 to 40
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,<20
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,<20
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20 to 40
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,<20
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 40
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 40
778,778,Sisur91,7,Male,101,Final Critic,4.19,<20
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 40

In [41]:
df.apply(lambda x : (x['SN']+x['Gender']+x['Item Name']),axis=1)

0      Lisim78MaleExtraction, Quickblade Of Trembling...
1                       Lisovynya38MaleFrenzied Scimitar
2                             Ithergue48MaleFinal Critic
3                           Chamassasya86MaleBlindscythe
4                                      Iskosia90MaleFury
5                                   Yalae81MaleDreamkiss
6      Itheria73MaleInterrogator, Blood Blade of the ...
7                           Iskjaskst81MaleAbyssal Shard
8                                 Undjask33MaleSouleater
9      Chanosian48Other / Non-DisclosedGhastly Adaman...
10                    Inguron55MaleSinged Onyx Warscythe
11                         Haisrisuir60MaleAbyssal Shard
12               Saelaephos52MaleRenewed Skeletal Katana
13                     Assjaskan73MaleBloodlord's Fetish
14            Saesrideu94MaleBone Crushing Silver Skewer
15            Lisassa64FemaleDeadline, Voice Of Subtlety
16                            Lisirra25MaleSecond Chance
17                                   Zontibe81MaleDevine
18                                Reunasu60FemaleNirvana
19        Chamalo71MaleBlazefury, Protector of Delusions
20       Iathenudil29MaleDespair, Favor of Due Diligence
21     Phiarithdeu40MaleSun Strike, Jaws of Twisted V...
22        Siarithria38Other / Non-DisclosedWarped Fetish
23                                 Eyrian71MaleSeverance
24                                 Siala43MalePersuasion
25     Lisirra87MaleOathbreaker, Last Hope of the Bre...
26                                  Lirtossa84MaleDemise
27                Eusri44MaleBlood-Forged Skeletal Spine
28     Aela59MaleStormbringer, Dark Blade of Ending M...
29        Tyida79MaleShadow Strike, Glory of Ending Hope
                             ...
750              Iljask75MaleMalice, Legacy of the Queen
751                           Lisjaskan36MaleStormcaller
752                        Mindjasksya61MaleWorldbreaker
753    Frichirranya75MaleOathbreaker, Last Hope of th...
754             Pheosurllorin41FemaleAlpha, Oath of Zeal
755                 Raesty92MaleHaunted Bronzed Bludgeon
756                               Ilast79MaleRitual Mace
757         Eratiel90MaleDespair, Favor of Due Diligence
758                                  Iral74MaleToothpick
759                         Tyaelorap29MaleWinter's Bite
760                  Aithelis62MaleBonecarvin Battle Axe
761              Assim27MaleLazarus, Terror of the Earth
762                                 Asur53MaleSuspension
763                       Lassilsala30MaleMalificent Bag
764                    Saedaiphos46MaleSolitude's Reaver
765                                     Irith83MaleAlpha
766    Aelastirin39MaleFreak's Bite, Favor of Holy Might
767                            Ilmol66FemaleFinal Critic
768                         Assassasta79MaleFinal Critic
769                    Ilosian36MaleFiery Glass Crusader
770                                  Lirtosia63MaleDawne
771                            Iskossasda43MaleHero Cane
772               Asur53MaleGhastly Adamantite Protector
773              Hala31MalePursuit, Cudgel of Necromancy
774                           Jiskjask80MaleFinal Critic
775                                 Aethedru70FemaleWolf
776                           Iral74MaleExiled Doomblade
777    Yathecal72MaleCeleste, Incarnation of the Corr...
778                              Sisur91MaleFinal Critic
779                                    Ennrian78MaleDawn
Length: 780, dtype: object

In [32]:
# start with df, pass in a index of True False Values (condition)
# just the rows where age > 10
df[df.Age>21][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67

In [31]:
# multi condition
df[(df['Age']>21) & (df['Age']<25)][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
8,8,Undjask33,22,Male,21,Souleater,1.10
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
18,18,Reunasu60,22,Female,82,Nirvana,4.90
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16

In [40]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [39]:
# and
(df.loc[0, 'Age']>21) & (df.loc[0, 'Age']<25)

False

In [43]:
# or
(df.loc[0, 'Age']>21) | (df.loc[0, 'Age']<25)

True

In [37]:
# inner index
(df['Age']>21)[:10]

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: Age, dtype: bool

## Vectorized Operation

In [45]:
def print_one(x):
    
    return x

df.iloc[:10].apply(print_one)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [47]:
def include(x):
    if x >21 & x < 25:
        return 'Orange'
    else:
        return 'Apple'
    
# mask using apply 
df['Age'].apply(include)

0       Apple
1      Orange
2      Orange
3      Orange
4      Orange
5      Orange
6      Orange
7       Apple
8      Orange
9      Orange
10     Orange
11     Orange
12      Apple
13     Orange
14     Orange
15      Apple
16      Apple
17      Apple
18     Orange
19     Orange
20      Apple
21      Apple
22     Orange
23     Orange
24     Orange
25     Orange
26     Orange
27     Orange
28      Apple
29     Orange
        ...
750    Orange
751    Orange
752     Apple
753    Orange
754    Orange
755    Orange
756     Apple
757    Orange
758     Apple
759    Orange
760     Apple
761    Orange
762    Orange
763     Apple
764    Orange
765    Orange
766    Orange
767    Orange
768    Orange
769    Orange
770    Orange
771     Apple
772    Orange
773     Apple
774    Orange
775     Apple
776     Apple
777     Apple
778    Orange
779    Orange
Name: Age, Length: 780, dtype: object

In [52]:
def include(x):
    if x >21 & x < 25:
        return True
    else:
        return False
    
# mask using apply 
df[df['Age'].apply(include)][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67

In [54]:
# apply with lambda 
df['Age'].apply(lambda x: True if (x<25) & (x>21) else False)[:10]

0    False
1    False
2     True
3     True
4     True
5     True
6    False
7    False
8     True
9    False
Name: Age, dtype: bool

## Group By Operation

In [58]:
# value counts
df['Item ID'].value_counts()[:10]

178    12
82      9
108     9
145     9
92      8
19      8
75      8
103     8
72      8
60      8
Name: Item ID, dtype: int64

In [62]:
# value counts to dictionary
df['Item ID'].value_counts().to_dict()[178]

12

In [63]:
# groupby
df.groupby('Item ID')

In [67]:
# groupby agg
df.groupby('Item ID').sum()[:10]
df.groupby('Item ID').count()[:10]
df.groupby('Item ID').mean()[:10]

         Purchase ID        Age  Price
Item ID
0         287.250000  18.500000   1.28
1         424.000000  22.333333   3.26
2         334.333333  23.833333   2.48
3         347.833333  25.833333   2.49
4         377.000000  24.800000   1.70
5         433.000000  23.500000   4.08
6         270.500000  22.500000   3.70
7         312.857143  22.285714   1.33
8         470.666667  28.333333   3.93
9         199.750000  24.000000   2.73

In [69]:
# agg{'column to apply to': 'aggregate function to apply (as str) }
grouped = df.groupby('Item ID').agg({'Age':'mean', 'Price': 'sum', 'Item Name':'first'})
grouped[:5]

               Age  Price           Item Name
Item ID
0        18.500000   5.12            Splinter
1        22.333333   9.78            Crucifer
2        23.833333  14.88             Verdict
3        25.833333  14.94        Phantomlight
4        24.800000   8.50  Bloodlord's Fetish

In [70]:
# agg{'column to apply to': 'aggregate function to apply (as str) }
grouped = df.groupby('Item ID').agg({'Age':['mean', 'max', 'min'], 'Price': 'sum', 'Item Name':'first'})
grouped[:5]

               Age          Price           Item Name
              mean max min    sum               first
Item ID
0        18.500000  21  16   5.12            Splinter
1        22.333333  25  19   9.78            Crucifer
2        23.833333  31  15  14.88             Verdict
3        25.833333  34  18  14.94        Phantomlight
4        24.800000  29  20   8.50  Bloodlord's Fetish

In [72]:
df[df['Item ID']==0]

     Purchase ID          SN  Age Gender  Item ID Item Name  Price
133          133    Phaena87   20   Male        0  Splinter   1.28
150          150    Inasti31   17   Male        0  Splinter   1.28
204          204  Chamimla85   16   Male        0  Splinter   1.28
662          662  Mindilsa60   21   Male        0  Splinter   1.28

In [71]:
grouped.columns

MultiIndex(levels=[['Age', 'Price', 'Item Name'], ['first', 'max', 'mean', 'min', 'sum']],
           labels=[[0, 0, 0, 1, 2], [2, 1, 3, 4, 0]])

In [74]:
grouped.loc[:5, 'Age'].loc[:5,'mean']

Item ID
0    18.500000
1    22.333333
2    23.833333
3    25.833333
4    24.800000
5    23.500000
Name: mean, dtype: float64

In [75]:
grouped.columns = ['Age_mean', 'age_max', 'age_min', 'price_sum', 'Item_name']
grouped

,Age_mean,age_max,age_min,price_sum,Item_name
Item ID,,,,,
0,18.500000,21,16,5.12,Splinter
1,22.333333,25,19,9.78,Crucifer
2,23.833333,31,15,14.88,Verdict
3,25.833333,34,18,14.94,Phantomlight
4,24.800000,29,20,8.50,Bloodlord's Fetish
5,23.500000,30,20,16.32,Putrid Fan
6,22.500000,24,21,7.40,Rusty Skull
7,22.285714,29,16,9.31,"Thorn, Satchel of Dark Souls"
8,28.333333,42,20,11.79,"Purgatory, Gem of Regret"
9,24.000000,35,16,10.92,"Thorn, Conqueror of the Corrupted"
10,24.500000,27,22,7.16,Sleepwalker
11,21.200000,34,8,18.25,Brimstone
12,25.833333,34,19,6.12,Dawne
13,22.500000,28,15,5.64,Serenity
14,26.500000,29,24,5.22,Possessed Core
15,23.800000,26,21,14.80,Soul Infused Crystal
16,20.000000,20,20,14.20,Restored Bauble
17,26.000000,45,15,6.80,"Lazarus, Terror of the Earth"
18,18.500000,22,15,9.30,"Torchlight, Bond of Storms"
19,23.250000,30,20,8.16,"Pursuit, Cudgel of Necromancy"
20,23.800000,37,15,16.35,Netherbane
21,21.200000,24,16,5.50,Souleater
22,21.333333,26,17,13.08,Amnesia
23,22.000000,22,22,1.99,Crucifer
24,27.400000,38,18,19.05,Warped Fetish
25,23.333333,38,10,26.10,Hero Cane
26,25.000000,30,20,2.24,Unholy Wand
27,15.000000,15,15,3.30,"Riddle, Tribute of Ended Dreams"
28,27.000000,33,21,2.12,"Flux, Destroyer of Due Diligence"
29,25.800000,35,20,9.90,"Chaos, Ender of the End"
...,...,...,...,...,...
154,25.250000,38,15,17.60,Feral Katana
155,20.400000,23,15,5.05,War-Forged Gold Deflector
156,20.000000,26,15,8.85,Soul-Forged Steel Shortsword
157,20.000000,25,15,19.20,"Spada, Etcher of Hatred"
158,14.500000,16,13,4.90,"Darkheart, Butcher of the Champion"
159,17.142857,23,7,21.56,"Oathbreaker, Spellblade of Trials"
160,20.333333,29,16,26.40,Azurewrath
161,24.800000,31,17,8.80,Devine
162,22.200000,24,20,13.35,Abyssal Shard
163,23.000000,26,20,17.25,Thunderfury Scimitar
164,18.857143,24,11,11.41,Exiled Doomblade
165,24.750000,35,16,19.44,Bone Crushing Silver Skewer
166,22.333333,29,16,9.21,Thirsty Iron Reaver
167,21.250000,23,19,14.44,"Malice, Legacy of the Queen"
168,22.000000,24,20,2.96,"Sun Strike, Jaws of Twisted Visions"
169,27.500000,36,16,8.72,"Interrogator, Blood Blade of the Queen"
170,22.750000,25,20,15.88,Shadowsteel
171,31.000000,37,23,5.37,Scalpel
172,23.500000,33,15,12.56,Blade of the Grave
173,35.500000,41,30,9.86,Stormfury Longsword
174,17.500000,25,8,13.88,Primitive Blade
175,30.333333,35,26,13.44,Woeful Adamantite Claymore
176,24.000000,32,16,5.68,Relentless Iron Skewer
177,25.500000,30,21,4.16,"Winterthorn, Defender of Shifting Worlds"
178,23.916667,36,7,50.76,"Oathbreaker, Last Hope of the Breaking Storm"
179,21.000000,37,7,26.88,"Wolf, Promise of the Moonwalker"
180,11.000000,11,11,3.36,Stormcaller
181,21.800000,25,17,8.30,Reaper's Toll
182,22.333333,23,21,12.09,Toothpick
183,22.000000,29,15,3.27,Dragon's Greatsword

In [77]:
grouped.loc[:5, 'Item_name']

Item ID
0              Splinter
1              Crucifer
2               Verdict
3          Phantomlight
4    Bloodlord's Fetish
5            Putrid Fan
Name: Item_name, dtype: object

In [43]:
lst = list(df['Item Name'].unique())

In [46]:
[x[:5] for x in lst if x[0]=='E']

['Extra', 'Ember', 'Exile', 'Etern', 'Expir', 'Endbr', 'Exile']

In [51]:
[x[-10:] for x in lst if x[0]=='B' ]

['lindscythe',
 "d's Fetish",
 'ver Skewer',
 ' Delusions',
 'etal Spine',
 'Battle Axe',
 ' the Grave',
 'ing Widows',
 'ry Warmace',
 'd Guardian',
 'Brimstone',
 'f Eternity',
 'Betrayer']

In [53]:
{x:x[-10:] for x in lst if x[0]=='B' }

{'Blindscythe': 'lindscythe',
 "Bloodlord's Fetish": "d's Fetish",
 'Bone Crushing Silver Skewer': 'ver Skewer',
 'Blazefury, Protector of Delusions': ' Delusions',
 'Blood-Forged Skeletal Spine': 'etal Spine',
 'Bonecarvin Battle Axe': 'Battle Axe',
 'Blade of the Grave': ' the Grave',
 'Betrayal, Whisper of Grieving Widows': 'ing Widows',
 'Brutality Ivory Warmace': 'ry Warmace',
 'Blood Infused Guardian': 'd Guardian',
 'Brimstone': 'Brimstone',
 'Blazeguard, Reach of Eternity': 'f Eternity',
 'Betrayer': 'Betrayer'}